version: '3.9'

services:
  postgres:
    container_name: next-blog-postgres
    image: postgres:16.4
    healthcheck:
      test: ['CMD', 'pg_isready']
      interval: 5s
      timeout: 5s
      retries: 5
    restart: unless-stopped
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - postgres:/var/lib/postgresql/data
    ports:
      - '${POSTGRES_PORT}:5432'
    networks:
      - default

  redis:
    container_name: next-blog-redis
    image: redis:7.4
    healthcheck:
      test: ['CMD', 'redis-cli', '--raw', 'incr', 'ping']
      interval: 5s
      timeout: 5s
      retries: 5
    restart: unless-stopped
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    ports:
      - '${REDIS_PORT}:6379'
    command: redis-server --save 20 1 --loglevel warning --requirepass $REDIS_PASSWORD
    volumes:
      - redis:/data
    networks:
      - default

  kafka:
    container_name: next-blog-kafka
    image: bitnamilegacy/kafka:3.4
    restart: unless-stopped
    healthcheck:
      test: /opt/bitnami/kafka/bin/kafka-cluster.sh cluster-id --bootstrap-server ${KAFKA_HOST_INTERNAL}:${KAFKA_PORT_INTERNAL} || exit 1
      start_period: 10s
      interval: 5s
      timeout: 10s
      retries: 15
    ports:
      - '${KAFKA_PORT_EXTERNAL}:${KAFKA_PORT_EXTERNAL}'
    environment:
      - KAFKA_NODE_ID=${KAFKA_NODE_ID}
      - KAFKA_CFG_PROCESS_ROLES=controller,broker
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:${KAFKA_PORT_INTERNAL},CONTROLLER://:9093,EXTERNAL://:${KAFKA_PORT_EXTERNAL}
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://${KAFKA_HOST_INTERNAL}:${KAFKA_PORT_INTERNAL},EXTERNAL://${KAFKA_HOST_EXTERNAL}:${KAFKA_PORT_EXTERNAL}
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,EXTERNAL:PLAINTEXT,PLAINTEXT:PLAINTEXT
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=${KAFKA_NODE_ID}@kafka:9093
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - ALLOW_PLAINTEXT_LISTENER=yes
      - KAFKA_CFG_AUTO_CREATE_TOPICS_ENABLE=true
      - KAFKA_HOST_INTERNAL=${KAFKA_HOST_INTERNAL}
      - KAFKA_PORT_INTERNAL=${KAFKA_PORT_INTERNAL}
    volumes:
      - kafka:/bitnami/kafka
      - ./scripts/kafka-init-wrapper.sh:/kafka-init-wrapper.sh:ro
    entrypoint: ['/bin/bash', '/kafka-init-wrapper.sh']
    networks:
      - default

  minio:
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z
    container_name: next-blog-minio
    restart: unless-stopped
    healthcheck:
      test: 'curl -k -f http://127.0.0.1:9001/minio/health/live || exit 1'
      start_period: 10s
      interval: 5s
      timeout: 10s
      retries: 15
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
      MINIO_DEFAULT_BUCKETS: ${MINIO_MEDIA_BUCKET}
    ports:
      - '${MINIO_S3_PORT}:9000' # S3 API
      - '${MINIO_WEB_PORT}:9001' # Web console
    volumes:
      - minio:/data
    command: server /data --console-address ":9001";

volumes:
  postgres:
  redis:
    driver: local
  kafka:
    driver: local
  minio:

networks:
  default:
    driver: bridge
