name: Node.js CI

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

jobs:
  test-unit:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.x, 24.x]

    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: 8

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'

      - name: Install Dependencies
        run: pnpm install

      - name: Generate Prisma client
        env:
          POSTGRES_URL: ${{ secrets.POSTGRES_URL }}
        run: pnpm prisma generate

      - name: Run Unit Tests
        run: pnpm test

  test-e2e:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Create and populate .env file

        env:
          ACCESS_JWT_SECRET: ${{ secrets.ACCESS_JWT_SECRET }}
          ACCESS_JWT_EXPIRATION: ${{ secrets.ACCESS_JWT_EXPIRATION }}
          REFRESH_JWT_SECRET: ${{ secrets.REFRESH_JWT_SECRET }}
          REFRESH_JWT_EXPIRATION: ${{ secrets.REFRESH_JWT_EXPIRATION }}
          POSTGRES_DB: ${{ secrets.POSTGRES_DB }}
          POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
          POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
          POSTGRES_HOST: ${{ secrets.POSTGRES_HOST }}
          POSTGRES_PORT: ${{ secrets.POSTGRES_PORT }}
          POSTGRES_URL: ${{ secrets.POSTGRES_URL }}
          REDIS_HOST: ${{ secrets.REDIS_HOST }}
          REDIS_PORT: ${{ secrets.REDIS_PORT }}
          REDIS_PASSWORD: ${{ secrets.REDIS_PASSWORD }}
          KAFKA_NODE_ID: ${{ secrets.KAFKA_NODE_ID }}
          KAFKA_HOST: ${{ secrets.KAFKA_HOST }}
          KAFKA_PORT: ${{ secrets.KAFKA_PORT }}
          KAFKA_HOST_INTERNAL: ${{ secrets.KAFKA_HOST }}
          KAFKA_PORT_INTERNAL: ${{ secrets.KAFKA_PORT }}
          KAFKA_HOST_EXTERNAL: ${{ secrets.KAFKA_HOST_EXTERNAL }}
          KAFKA_PORT_EXTERNAL: ${{ secrets.KAFKA_PORT_EXTERNAL }}
          MINIO_ROOT_USER: ${{ secrets.MINIO_ROOT_USER }}
          MINIO_ROOT_PASSWORD: ${{ secrets.MINIO_ROOT_PASSWORD }}
          MINIO_S3_PORT: ${{ secrets.MINIO_S3_PORT }}
          MINIO_WEB_PORT: ${{ secrets.MINIO_WEB_PORT }}
          MINIO_ENDPOINT: ${{ secrets.MINIO_ENDPOINT }}
          MINIO_PUBLIC_URL: ${{ secrets.MINIO_PUBLIC_URL }}
          MINIO_ACCESS_KEY: ${{ secrets.MINIO_ACCESS_KEY }}
          MINIO_SECRET_KEY: ${{ secrets.MINIO_SECRET_KEY }}
          MINIO_REGION: ${{ secrets.MINIO_REGION }}
          MINIO_MEDIA_BUCKET: ${{ secrets.MINIO_MEDIA_BUCKET }}

        run: |
          touch .env.docker-compose
          echo ACCESS_JWT_SECRET="$ACCESS_JWT_SECRET" >> .env.docker-compose
          echo ACCESS_JWT_EXPIRATION=$ACCESS_JWT_EXPIRATION >> .env.docker-compose
          echo REFRESH_JWT_SECRET="$REFRESH_JWT_SECRET" >> .env.docker-compose
          echo REFRESH_JWT_EXPIRATION=$REFRESH_JWT_EXPIRATION >> .env.docker-compose
          echo POSTGRES_DB="$POSTGRES_DB" >> .env.docker-compose
          echo POSTGRES_USER="$POSTGRES_USER" >> .env.docker-compose
          echo POSTGRES_PASSWORD="$POSTGRES_PASSWORD" >> .env.docker-compose
          echo POSTGRES_HOST="$POSTGRES_HOST" >> .env.docker-compose
          echo POSTGRES_PORT=$POSTGRES_PORT >> .env.docker-compose
          echo POSTGRES_URL=$POSTGRES_URL >> .env.docker-compose
          echo REDIS_HOST="$REDIS_HOST" >> .env.docker-compose
          echo REDIS_PORT=$REDIS_PORT >> .env.docker-compose
          echo REDIS_PASSWORD="$REDIS_PASSWORD" >> .env.docker-compose
          echo KAFKA_NODE_ID=$KAFKA_NODE_ID >> .env.docker-compose
          echo KAFKA_HOST=$KAFKA_HOST >> .env.docker-compose
          echo KAFKA_PORT=$KAFKA_PORT >> .env.docker-compose
          echo KAFKA_HOST_INTERNAL=$KAFKA_HOST_INTERNAL >> .env.docker-compose
          echo KAFKA_PORT_INTERNAL=$KAFKA_PORT_INTERNAL >> .env.docker-compose
          echo KAFKA_HOST_EXTERNAL=$KAFKA_HOST_EXTERNAL >> .env.docker-compose
          echo KAFKA_PORT_EXTERNAL=$KAFKA_PORT_EXTERNAL >> .env.docker-compose
          echo MINIO_ROOT_USER=$MINIO_ROOT_USER >> .env.docker-compose
          echo MINIO_ROOT_PASSWORD=$MINIO_ROOT_PASSWORD >> .env.docker-compose
          echo MINIO_S3_PORT=$MINIO_S3_PORT >> .env.docker-compose
          echo MINIO_WEB_PORT=$MINIO_WEB_PORT >> .env.docker-compose
          echo MINIO_ENDPOINT=$MINIO_ENDPOINT >> .env.docker-compose
          echo MINIO_PUBLIC_URL=$MINIO_PUBLIC_URL >> .env.docker-compose
          echo MINIO_ACCESS_KEY=$MINIO_ACCESS_KEY >> .env.docker-compose
          echo MINIO_SECRET_KEY=$MINIO_SECRET_KEY >> .env.docker-compose
          echo MINIO_REGION=$MINIO_REGION >> .env.docker-compose
          echo MINIO_MEDIA_BUCKET=$MINIO_MEDIA_BUCKET >> .env.docker-compose

      - name: Build Docker Containers
        run: docker compose --env-file .env.docker-compose -f "docker-compose-ci.yml" up -d --build

      - name: List Docker Containers
        run: docker ps -a

      - name: Create Minio media bucket
        run: docker exec -t next-blog-core-app pnpm minio:create-bucket

      - name: Run E2E Tests for Core App Gateway API
        run: docker exec -t next-blog-core-app pnpm test:e2e:core

      - name: Run E2E Tests for Notification Gateway API
        run: docker exec -t next-blog-core-app pnpm test:e2e:notification-gateway

      - name: Run E2E Tests for Notification App
        run: docker exec -t next-blog-core-app pnpm test:e2e:notification-app

      - name: Run E2E Tests for WS-Notification App
        run: docker exec -t next-blog-core-app pnpm test:e2e:ws-notification

      - name: Stop Containers
        if: always()
        run: docker compose --env-file .env.docker-compose -f "docker-compose-ci.yml" down
